.DS_Store
.classpath
.settings/
.project
target/
.idea
*.iml
zzztemplate/
newsextractor/src/test/resources/pages/crypto/coindesk-cat-original.html
newsextractor/src/test/resources/pages/crypto/coindesk-home-original.html
newsextractor/src/test/resources/pages/crypto/coindesk-story-original.html
newsextractor/src/test/resources/pages/crypto/cointel-cat-original.html
newsextractor/src/test/resources/pages/crypto/cointel-home-original.html
newsextractor/src/test/resources/pages/crypto/cointel-story-original.html
newsextractor/src/test/resources/pages/crypto/cryptonews-cat-original.html
newsextractor/src/test/resources/pages/crypto/cryptonews-home-original.html
newsextractor/src/test/resources/pages/crypto/cryptonews-story-original.html
newsextractor/src/test/resources/pages/crypto/dailyhodl-cat-original.html
newsextractor/src/test/resources/pages/crypto/dailyhodl-home-original.html
newsextractor/src/test/resources/pages/crypto/dailyhodl-story-original.html
newsextractor/src/test/resources/pages/crypto/coindesk-cat-opinion-original.html
newsextractor/src/test/resources/pages/crypto/coindesk-story-opinion-original.html
